---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import NavigationDrawer from './NavigationDrawer.astro';
---

<header role="banner">
  <nav id="main-navigation" aria-label="Main navigation">
    <NavigationDrawer />
    
    <a href="/" class="logo-link">
      <svg
        height="40"
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 0 219.28917 54.354222"
        role="img"
        aria-label="codea11y homepage"
        class="logo-svg"
      >
        <g transform="translate(-4.830636,-114.42924)">
          <g>
            <g>
              <path
                class="logo-blue"
                style="stroke-width:1.854;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                d="m 32.129858,122.1698 -15.070225,0.0842 c -3.031204,0.0171 -5.877333,1.21638 -8.0141633,3.37718 -2.13683,2.1608 -3.304398,5.02022 -3.2876573,8.05159 0.035039,6.2668 5.1618916,11.33678 11.4287756,11.30199 l 15.070057,-0.0842 c 3.031287,-0.017 5.877668,-1.21639 8.014498,-3.37719 2.136831,-2.1608 3.304397,-5.02038 3.287489,-8.05159 -0.01698,-3.03128 -1.2163,-5.87758 -3.377101,-8.01441 -2.160718,-2.13691 -5.020217,-3.3044 -8.051673,-3.28757 z m -15.038534,5.73559 15.070139,-0.0843 c 3.150719,-0.0175 5.728314,2.53152 5.746056,5.68215 0.01724,3.1508 -2.531929,5.72857 -5.682312,5.74605 l -7.53507,0.0421 8.4e-5,7e-5 -7.535071,0.042 c -3.150718,0.0175 -5.728313,-2.53151 -5.745971,-5.68222 -0.01758,-3.1508 2.531425,-5.7284 5.682145,-5.74589 z"
              ></path>
              <path
                class="logo-red"
                style="stroke-width:1.854;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                d="m 87.072129,121.95413 -15.070225,0.084 c -3.031286,0.017 -5.877498,1.21638 -8.014329,3.37718 -2.136831,2.1608 -3.30448,5.0203 -3.287571,8.0515 0.01691,3.03138 1.216215,5.87768 3.377016,8.01451 2.160885,2.13691 5.020386,3.30456 8.051757,3.28748 l 15.070057,-0.084 c 3.031287,-0.017 5.877669,-1.21622 8.0145,-3.37702 2.136832,-2.1608 3.304398,-5.02038 3.287405,-8.05168 -0.01698,-3.03129 -1.21622,-5.87766 -3.377019,-8.0145 -2.160801,-2.13682 -5.020132,-3.30431 -8.051591,-3.28749 z m 0.09527,17.07932 -7.53507,0.0421 -7.535069,0.0419 c -3.150723,0.0177 -5.728401,-2.53143 -5.745976,-5.68223 -0.0176,-3.15063 2.531427,-5.72823 5.682145,-5.74588 l 15.070143,-0.0841 c 3.150719,-0.0175 5.728312,2.53151 5.745972,5.68222 0.01764,3.15089 -2.531262,5.7284 -5.682145,5.7459 z"
              ></path>
              <g
                class="logo-orange"
                style="stroke-width:0.512326;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                transform="matrix(3.6187955,0,0,3.6187955,30.416506,115.35624)"
              >
                <path
                  d="M 5.900404,10.015618 5.576408,13.103049 C 5.5186786,13.653166 5.026617,14.052252 4.4773577,13.994432 3.9280984,13.936613 3.5296348,13.443782 3.5873642,12.893665 L 4.3098044,6.009371 H 1 C 0.44771525,6.009371 0,5.5609565 0,5.0078091 0,4.4546618 0.44771525,4.0062473 1,4.0062473 h 10 c 0.552285,0 1,0.4484145 1,1.0015618 0,0.5531474 -0.447715,1.0015619 -1,1.0015619 H 7.6901956 l 0.7224402,6.884294 C 8.4703652,13.443782 8.0719016,13.936613 7.5226423,13.994432 6.973383,14.052252 6.4813214,13.653166 6.423592,13.103049 L 6.099596,10.015618 Z M 6,4.0062473 c -1.1045695,0 -2,-0.896829 -2,-2.0031236 C 4,0.89682901 4.8954305,0 6,0 7.1045695,0 8,0.89682901 8,2.0031237 8,3.1094183 7.1045695,4.0062473 6,4.0062473 Z"
                  style="stroke-width:0.512326;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                ></path>
              </g>
            </g>
            <text
              xml:space="preserve"
              style="font-size:26.1897px;line-height:1.25;font-family:VT323;-inkscape-font-specification:VT323;letter-spacing:0px;stroke-width:0.30691"
              fill="currentColor"
              x="71.983971"
              y="163.30981"
            >
              <tspan
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:26.1897px;font-family:'Cal Sans';-inkscape-font-specification:'Cal Sans';stroke-width:0.30691"
                fill="currentColor"
                x="71.983971"
                y="163.30981">codea11y.dev</tspan
              >
            </text>
          </g>
        </g>
      </svg>
    </a>

    <div class="internal-links desktop-nav">
      <md-text-button href="/">Home</md-text-button>
      <md-text-button href="/blog">Blog</md-text-button>
      {import.meta.env.DEV && (
        <md-text-button href="/components">Style Guide</md-text-button>
      )}
      <md-text-button href="/about">About</md-text-button>
    </div>
    
    <div class="header-actions">
      <ThemeToggle />
      
      <div class="social-links">
        <a href="https://www.linkedin.com/in/danielwestfall/" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Follow me on LinkedIn</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M13.633 13.633H11.08V9.89c0-.891-.016-2.037-1.24-2.037-1.242 0-1.434 1.074-1.434 1.973v3.807H5.857V5.996h2.46v1.12h.034c.34-.644 1.17-1.32 2.428-1.32 2.597 0 3.075 1.71 3.075 3.935v4.59zM3.367 4.87c-.856 0-1.549-.694-1.549-1.548s.693-1.548 1.549-1.548c.854 0 1.547.694 1.547 1.548s-.693 1.548-1.547 1.548zM4.609 13.633H2.125V5.996h2.484v7.637zM14.938 0H1.062C.475 0 0 .475 0 1.062v13.876C0 15.525.475 16 1.062 16h13.876c.587 0 1.062-.475 1.062-1.062V1.062C16 .475 15.525 0 14.938 0z"></path>
          </svg>
        </a>

        <a href="https://github.com/danielwestfall" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Go to my GitHub profile</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>

        <a href="mailto:daniel@codea11y.dev" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Send me an email</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M14.5 2h-13A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2Zm-1.88 1L8 7.37 3.38 3h9.24ZM14 12.5a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-8L7.6 8.6a.5.5 0 0 0 .8 0l5.6-4.1v8Z"></path>
          </svg>
        </a>

        <a href="https://twitter.com/Dan_Westfall82" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Follow me on Twitter</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
          </svg>
        </a>

        <a href="https://www.facebook.com/daniel.westfall2" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Follow me on Facebook</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
          </svg>
        </a>

        <a href="https://www.instagram.com/danielwwestfall/" target="_blank" rel="noopener noreferrer">
          <span class="sr-only">Follow me on Instagram</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24">
            <path fill="currentColor" d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>
<style>
	header {
		position: relative; /* Start as relative */
		z-index: 100;
		width: 100%;
		margin: 0;
		padding: 0 1em;
		background: var(--md-sys-color-surface);
		border-bottom: 1px solid var(--md-sys-color-outline-variant);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		display: block;
		box-sizing: border-box;
	}
	
	/* When sticky class is added by JavaScript */
	header.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	
	/* Compact sticky state */
	header.sticky {
		padding: 0 0.75em;
		box-shadow: 0 2px 8px rgba(var(--md-sys-color-shadow), 0.15);
	}
	
	/* Compact navigation when sticky */
	header.sticky nav {
		padding: 0.25em 0;
	}
	
	header.sticky nav a {
		padding: 0.5em 0.5em;
		font-size: 0.95em;
	}
	
	header.sticky .logo-link svg {
		height: 32px;
	}
	
	/* Logo color custom properties */
	:root {
		--logo-blue: #03047e;
		--logo-blue-dark: #4d4fff;
		--logo-red: #a70011;
		--logo-red-dark: #ff4d66;
		--logo-orange: #fd793f;
		--logo-orange-dark: #ff9966;
	}
	
	/* Logo styling for theme adaptation */
	.logo-svg {
		color: var(--md-sys-color-on-surface);
		transition: color 0.3s ease;
	}
	
	/* Make logo text inherit theme colors */
	.logo-svg text,
	.logo-svg tspan {
		fill: currentColor;
	}
	
	/* Logo shapes with theme-aware colors and WCAG AA contrast */
	.logo-svg path {
		transition: fill 0.3s ease, stroke 0.3s ease;
	}
	
	/* Blue shapes */
	.logo-svg .logo-blue {
		fill: var(--logo-blue);
		stroke: #000000;
		stroke-width: 1.854;
	}
	
	/* Red shapes */
	.logo-svg .logo-red {
		fill: var(--logo-red);
		stroke: #000000;
		stroke-width: 1.854;
	}
	
	/* Orange shapes */
	.logo-svg .logo-orange,
	.logo-svg .logo-orange path {
		fill: var(--logo-orange);
		stroke: #000000;
	}
	
	.logo-svg .logo-orange path {
		stroke-width: 0.512326;
	}
	
	/* Dark theme - match stroke to fill for visibility */
	:root[data-theme="dark"] .logo-svg .logo-blue {
		stroke: var(--logo-blue);
	}
	
	:root[data-theme="dark"] .logo-svg .logo-red {
		stroke: var(--logo-red);
	}
	
	:root[data-theme="dark"] .logo-svg .logo-orange,
	:root[data-theme="dark"] .logo-svg .logo-orange path {
		stroke: var(--logo-orange);
	}
	
	/* Dark theme overrides for WCAG AA compliance */
	:root[data-theme="dark"] {
		--logo-blue: #4d4fff;
		--logo-red: #ff4d66;
		--logo-orange: #ff9966;
	}
	
	/* Hover effect for the entire logo */
	.logo-link:hover .logo-svg {
		color: var(--md-sys-color-primary);
		transform: scale(1.02);
	}
	
	.logo-link {
		transition: transform 0.2s ease;
		display: inline-block;
	}
	
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 4rem;
		padding: 0.5rem 0;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--md-sys-color-on-surface);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: color 0.3s ease;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--md-sys-color-primary);
	}
	
	.header-actions {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	
	/* Material Design navigation buttons */
	md-text-button {
		--md-text-button-label-text-color: var(--md-sys-color-on-surface);
		--md-text-button-hover-label-text-color: var(--md-sys-color-primary);
		--md-text-button-pressed-label-text-color: var(--md-sys-color-primary);
		margin: 0 0.25rem;
		font-family: var(--font-family-logo);
		font-weight: 400;
		letter-spacing: 0.02em;
		font-size: 16pt;
		line-height: 1.4;
		padding: 0.75rem 1rem;
	}
	.social-links,
	.social-links a {
		display: flex;
		color: var(--md-sys-color-on-surface-variant);
		transition: color 0.3s ease;
	}
	
	.social-links {
		gap: 0.5rem;
	}
	
	.social-links a:hover {
		color: var(--md-sys-color-primary);
	}
	
	.internal-links {
		display: flex;
		gap: 0.5rem;
	}
	
	/* Large tablet/small desktop - reduce social icon spacing */
	@media (max-width: 900px) {
		.social-links {
			gap: 0.25rem;
		}
		
		.social-links a svg {
			width: 20px;
			height: 20px;
		}
	}
	
	/* Medium tablet - hide some social icons, keep most important */
	@media (max-width: 800px) {
		.social-links a:nth-child(n+4) {
			display: none;
		}
		
		.header-actions {
			gap: 0.75rem;
		}
	}
	
	/* Small tablet - hide all but essential social icons */
	@media (max-width: 720px) {
		.desktop-nav {
			display: none;
		}
		
		.social-links a:nth-child(n+3) {
			display: none;
		}
		
		.header-actions {
			gap: 0.5rem;
		}
		
		nav {
			padding: 0.5em 0;
		}
		
		nav a {
			padding: 0.75em 0.25em;
			font-size: 0.9em;
		}
		
		md-text-button {
			margin: 0 0.125rem;
			font-size: 0.9em;
		}
	}
	
	/* Mobile - hide all social icons */
	@media (max-width: 600px) {
		.social-links {
			display: none;
		}
	}
	
	/* iPhone and small mobile devices */
	@media (max-width: 480px) {
		header {
			padding: 0 0.5em;
		}
		
		nav {
			flex-wrap: nowrap;
			gap: 0.5rem;
		}
		
		.logo-link {
			flex: 1;
			text-align: left;
			padding: 0.5em 0 !important;
		}
		
		.logo-link svg {
			height: 32px;
		}
		
		.header-actions {
			gap: 0.5rem;
		}
	}
	
	/* Extra small devices */
	@media (max-width: 375px) {
		.logo-link svg {
			height: 28px;
		}
		
		.header-actions {
			gap: 0.25rem;
		}
	}
</style>

<script>
	// Handle sticky header state with fixed positioning
	function handleStickyHeader() {
		const header = document.querySelector('header');
		if (!header) {
			console.log('Header element not found');
			return;
		}
		
		console.log('Header found, setting up sticky behavior');
		let scrolled = false;
		const headerHeight = header.offsetHeight;
		
		function updateStickyState() {
			if (!header) return;
			
			const currentlyScrolled = window.scrollY > 50;
			
			if (currentlyScrolled !== scrolled) {
				scrolled = currentlyScrolled;
				console.log('Scroll state changed:', scrolled ? 'scrolled' : 'at top');
				if (scrolled) {
					header.classList.add('sticky');
					// Add padding to body to prevent content jump
					document.body.style.paddingTop = headerHeight + 'px';
				} else {
					header.classList.remove('sticky');
					// Remove padding when not sticky
					document.body.style.paddingTop = '0';
				}
			}
		}
		
		// Throttled scroll handler for better performance
		let ticking = false;
		function onScroll() {
			if (!ticking) {
				requestAnimationFrame(() => {
					updateStickyState();
					ticking = false;
				});
				ticking = true;
			}
		}
		
		// Check initial state
		updateStickyState();
		
		// Listen for scroll events
		window.addEventListener('scroll', onScroll, { passive: true });
		
		// Cleanup function for when the component is removed
		return () => {
			window.removeEventListener('scroll', onScroll);
		};
	}
	
	// Initialize when DOM is ready
	if (document.readyState === 'loading') {
		document.addEventListener('DOMContentLoaded', handleStickyHeader);
	} else {
		handleStickyHeader();
	}
</script>
